.svg-path {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: -20;
  pointer-events: none;
  overflow: hidden;
}

.svg-path svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero,
.ontro {
  position: relative;
  padding: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
